/******************************************************************************/
/*                               General Style                                */
/******************************************************************************/

body {
  color: #272727;
  background: 0 0;
  background-color: #ffffff;
  max-width: 800px;
  margin: auto;
  padding: 0px 30px;
}

html {
  font-family: "Inconsolata", "monospace";
  font-size: 18px;
}

* {
  text-size-adjust: 180%;
}

h2 {
  margin-top: 1.7em;
  margin-bottom: 0.8em;
  font-size: xx-large;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 1em;
  border-bottom: 2px dashed #bfa9b6;
}

b {
  color: #4c4c4c;
}

p {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

ul li {
  padding-left: 1em;
}

li:before {
  /* I'm literally the worst person */
  content: "-"
}

@media screen and (max-width: 800px) {
  body {
    padding: 0.4rem;
  }

  .my-photo {
    display: none;
  }
}

.main-header-wrapper {
  border-left: 1.5rem solid #faffa1;
  border-right: 1.5rem solid #faffa1;
}

.main-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed #0c99cf;
  background-color: #b2dcec;
  padding-left: 0.5em;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.my-name {
  font-size: 2.2rem;
  margin-right: 0.8rem;
  display: -webkit-box;
  -webkit-box-sizing: unset;
}

.my-photo {
  /* align-self: stretch; */
  max-height: 7rem;
  display: -webkit-box;
}

.inline-icon {
  display: inline;
  margin-right: 0.5em;
  max-height: 1rem;
  max-width: 1rem;
  vertical-align: center;
}

.links {
  margin: 2em 0 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-box-pack: center;
}

.links a {
  display: inline-flex;
  align-items: center;
  margin: 0 0.5em;
}

.page-content {
  padding: 1.5rem;
}

.introduction {
  padding: 0 1em;
}

.section-content {
  padding-left: 2em;
  padding-bottom: 1em;
}

.interests p {
  margin: 1em 0;
}

.dated-header {
  display: flex;
  justify-content: space-between;
}

.header-date {
  font-size: 0.9rem;
  align-self: center;
  color: #4c4c4c;
  font-style: italic;
}
